.main {
    background-color: rgba(247, 251, 255, 1);
    text-align: center;
    position: relative;
    padding-block: 8rem 5rem;
}

.main h3 {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 16px 32px;
    width: 161px;
    border-radius: 8px;
    color: rgba(21, 114, 211, 1);
    background-color: rgba(21, 114, 211, 0.1);
    margin: auto;
}

.main h4 {
    font-weight: 500;
    font-style: Medium;
    font-size: 38px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(51, 51, 51, 1);
    margin-block: 1rem 4rem;
}

.main .card {
    margin-inline: 1rem;
    font-family: Poppins;
    text-align: left;
}

.main .cardBody {
    margin: 4%;
}

.main .card .stars {
    width: 24px;
    width: 1.4rem;
    margin-bottom: 2rem;
}

.main .card .big {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 4rem;

}

.main .card h6 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(37, 37, 37, 1);
}

.main .card .small {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;

}

.main .card h5 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(56, 56, 56, 1);

}

.main .card span {
    font-size: 64px;
}

.card .img {
    width: 397px;
    height: 438px;

}

.main .left {
    position:absolute;
    transform: scaleX(-1);
    width: 292px;
    height: 310px;
    top: 90px;
    left: 137px;
}

.main .right {
    position: absolute;
    width: 279;
    height: 297;
    top:0px;
    left: 1055px;
}
